<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Adaugă produs</title>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>

    <style>
        main, footer {
            text-align: center;
        }

        header nav ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .navbar-nav li {
            display: inline;
        }

        .navbar-nav li.visible{
            padding-left: 10px;
        }

        .navbar-nav li.hidden {
            padding: 0;
            margin: 0;
            display: none;
        }
    </style>
</head>

<body style="margin: 0; display: flex; flex-direction: column; min-height: 100vh;">
    <header style="padding-top: 25px;">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 5px;">
                <div class="container-fluid">
                    <div class="d-flex align-items-center">
                        <a class="nav-link" th:href="@{'/'}">
                            <i class="fas fa-home mx-1"></i> Acasă
                        </a>

                        <form class="form-inline" style="margin-left: 15px" id="searchForm">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="search" placeholder="Caută produse" aria-label="Caută" id="searchQuery">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav">
                            <li class="visible">
                                <a class="nav-link" th:href="@{/categories}">
                                    <i class="fas fa-computer"></i> Categorii piese PC
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('hasRole(''USER'')')} ? 'visible' : 'hidden'">
                                <a class="nav-link" th:href="@{/cart}" sec:authorize="hasRole('USER')">
                                    <i class="fas fa-shopping-cart"></i> Coș
                                </a>
                            </li>
                            <li th:unless="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'hidden' : 'visible'">
                                <a class="nav-link btn-primary" th:href="@{/login}">
                                    <i class="fas fa-sign-in-alt"></i> Intră în cont
                                </a>
                            </li>
                            <li th:unless="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'hidden' : 'visible'">
                                <a class="nav-link btn-primary" th:href="@{/register}">
                                    <i class="fas fa-user-plus"></i> Înregistrează-te
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('hasRole(''USER'')')} ? 'visible' : 'hidden'">
                                <a class="nav-link btn-primary" th:href="@{/profile}" sec:authorize="hasRole('USER')">
                                    <i class="fas fa-user"></i> Profil
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('hasRole(''ADMIN'')')} ? 'visible' : 'hidden'">
                                <a class="nav-link active btn-primary" th:href="@{/addProduct}" sec:authorize="hasRole('ADMIN')">
                                    <i class="fas fa-plus"></i> Adaugă produs
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'visible' : 'hidden'">
                                <form id="logout-form" th:action="@{/logout}" sec:authorize="hasAnyRole('USER', 'ADMIN')" method="post">
                                    <button type="submit" class="nav-link btn-primary">
                                        <i class="fas fa-sign-out-alt"></i> Ieși din cont
                                    </button>
                                </form>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main style="flex: 1; padding-top: 50px;">
        <div class="container">
            <h2>Adaugă produs</h2>
            <br/>
            <form enctype="multipart/form-data" method="post" style="margin-left: auto; margin-right: auto; width: 35%;" th:action="@{/addProduct}"  th:object="${product}">
                <input th:field="*{productId}" type="hidden"/>
                <br/>
                <p class="error-message" th:if="${registrationError}" th:text="${registrationError}"></p>
                <br/>
                <div class="form-row">
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Eroare</label>
                    <input type="text" id="name" name="name" th:field="*{name}" class="form-control" placeholder="Nume" required>
                </div>
                <br/>
                <div class="form-row">
                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Eroare</label>
                    <input type="number" step="0.01" min="0" id="price" name="price" th:field="*{price}" class="form-control" placeholder="Preț" required>
                </div>
                <br/>
                <div class="form-row">
                    <label th:if="${#fields.hasErrors('stockQuantity')}" th:errors="*{stockQuantity}" class="text-danger">Eroare</label>
                    <input type="number" id="stockQuantity" name="stockQuantity" th:field="*{stockQuantity}" class="form-control" placeholder="Cantitate stoc" required>
                </div>
                <br/>
                <div class = "form-group row">
                    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Eroare</label>
                    <textarea id="description" name="description" th:field="*{description}" class = "form-control" rows = "5" placeholder = "Descriere"></textarea>
                </div>
                <br/>
                <div class="form-row">
                    <label th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="text-danger">Eroare</label>
                    <input type="text" id="brand" name="brand" th:field="*{brand}" class="form-control" placeholder="Brand" required>
                </div>
                <br/>
                <div class="form-row">
                    <label th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger">Eroare</label>
                    <select id="category" name="category" th:field="*{category}" class="form-control" required>
                        <option value="">Selectează categoria</option>
                        <option value="CPU">CPU</option>
                        <option value="GPU">GPU</option>
                        <option value="MDB">MDB</option>
                        <option value="SSD">SSD</option>
                        <option value="PSU">PSU</option>
                        <option value="RAM">RAM</option>
                    </select>
                </div>
                <br/>
                <h3>Imagini produs</h3>
                <br/>
                <div id="imageInputs" class="form-row">
                    <div>
                        <label>Imagine 1:</label>
                        <input type="file" name="images" accept="image/jpeg, image/png">
                    </div>
                </div>
                <br/>
                <button type="button" id="addImageButton" class="btn btn-success">Adaugă imagine</button>
                <br/>

                <hr/>

                <br/>

                <h3>Garanție (opțional)</h3>
                <br/>
                <div th:if="${#fields.hasErrors('warranty')}" class="text-danger">
                    <span th:errors="*{warranty}"></span>
                </div>
                <br/>
                <div class="form-row">
                    <label th:if="${#fields.hasErrors('warranty.durationMonths')}" th:errors="*{warranty.durationMonths}" class="text-danger">Eroare</label>
                    <input type="number" id="warrantyDuration" name="warranty.durationMonths" th:field="*{warranty.durationMonths}" class="form-control" placeholder="Durată (în luni)">
                </div>
                <br/>
                <div class="form-row">
                    <label th:if="${#fields.hasErrors('warranty.type')}" th:errors="*{warranty.type}" class="text-danger">Eroare</label>
                    <input type="text" id="warrantyType" name="warranty.type" th:field="*{warranty.type}" class="form-control" placeholder="Tip">
                </div>
                <br/>
                <div class="form-row">
                    <label th:if="${#fields.hasErrors('warranty.terms')}" th:errors="*{warranty.terms}" class="text-danger">Eroare</label>
                    <input type="text" id="warrantyTerms" name="warranty.terms" th:field="*{warranty.terms}" class="form-control" placeholder="Termeni">
                </div>
                <br/>
                <div class="form-row">
                    <label th:if="${#fields.hasErrors('warranty.details')}" th:errors="*{warranty.details}" class="text-danger">Eroare</label>
                    <input type="text" id="warrantyDetails" name="warranty.details" th:field="*{warranty.details}" class="form-control" placeholder="Detalii">
                </div>
                <br/>
                <br/>

                <hr/>

                <br/>

                <h3>Tags (opțional)</h3>
                <br/>
                <div id="tagInputs" class="form-row">
                    <input type="text" name="tags[0].name" th:field="*{tags[0].name}" class="form-control" placeholder="Tag">
                </div>
                <br/>
                <button type="button" id="addTagButton" class="btn btn-success">Adaugă tag</button>

                <br/>

                <hr/>

                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Adaugă produs</button>
            </form>
        </div>
    </main>

    <footer style="padding-top: 25px;">
        <p>&copy; 2024 CartBlitz</p>
    </footer>

    <script>
        document.getElementById("searchForm").addEventListener("submit", function(event) {
            event.preventDefault();

            var searchQuery = document.getElementById("searchQuery").value;
            var searchUrl = "/product/search?search=" + encodeURIComponent(searchQuery);

            localStorage.setItem("searchQuery", searchUrl);

            window.location.href = searchUrl;
        });
    </script>

    <script>
        document.getElementById("addTagButton").addEventListener("click", function() {
            var tagInputs = document.getElementById("tagInputs");
            var index = tagInputs.children.length;
            var input = document.createElement("input");

            input.setAttribute("type", "text");
            input.setAttribute("name", "tags[" + index + "].name");
            input.setAttribute("th:field", "*{tags[" + index + "].name}");
            input.setAttribute("class", "form-control");
            input.setAttribute("placeholder", "Tag");

            tagInputs.appendChild(input);
        });
    </script>

    <script>
        document.getElementById("addImageButton").addEventListener("click", function() {
            var imageInputs = document.getElementById("imageInputs");
            var index = imageInputs.children.length;
            var newDiv = document.createElement("div");
            newDiv.className = "form-row";

            var label = document.createElement("label");
            label.textContent = "Imagine " + (index + 1) + ":";
            newDiv.appendChild(label);

            var input = document.createElement("input");
            input.type = "file";
            input.name = "images";
            input.accept = "image/jpeg, image/png";
            newDiv.appendChild(input);

            imageInputs.appendChild(newDiv);
        });
    </script>
</body>
</html>