<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>

    <style>
        main, footer {
            text-align: center;
        }

        header nav ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .navbar-nav li {
            display: inline;
        }

        .navbar-nav li.visible{
            padding-left: 10px;
        }

        .navbar-nav li.hidden {
            padding: 0;
            margin: 0;
            display: none;
        }
    </style>
</head>

<body style="margin: 0; display: flex; flex-direction: column; min-height: 100vh;">

    <header style="padding-top: 25px;">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 5px;">
                <div class="container-fluid">
                    <div class="d-flex align-items-center">
                        <a class="nav-link" th:href="@{'/'}">
                            <i class="fas fa-home mx-1"></i> Acasă
                        </a>

                        <form class="form-inline" style="margin-left: 15px" id="searchForm">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="search" placeholder="Caută produse" aria-label="Caută" id="searchQuery">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav">
                            <li class="visible">
                                <a class="nav-link " th:href="@{/categories}">
                                    <i class="fas fa-computer"></i> Categorii piese PC
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('hasRole(''USER'')')} ? 'visible' : 'hidden'">
                                <a class="nav-link" th:href="@{/cart}" sec:authorize="hasRole('USER')">
                                    <i class="fas fa-shopping-cart"></i> Coș
                                </a>
                            </li>
                            <li th:unless="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'hidden' : 'visible'">
                                <a class="nav-link btn-primary" th:href="@{/login}">
                                    <i class="fas fa-sign-in-alt"></i> Intră în cont
                                </a>
                            </li>
                            <li th:unless="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'hidden' : 'visible'">
                                <a class="nav-link btn-primary" th:href="@{/register}">
                                    <i class="fas fa-user-plus"></i> Înregistrează-te
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('hasRole(''USER'')')} ? 'visible' : 'hidden'">
                                <a class="nav-link btn-primary" th:href="@{/profile}" sec:authorize="hasRole('USER')">
                                    <i class="fas fa-user"></i> Profil
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'visible' : 'hidden'">
                                <form id="logout-form" th:action="@{/logout}" sec:authorize="hasAnyRole('USER', 'ADMIN')" method="post">
                                    <button type="submit" class="nav-link btn-primary">
                                        <i class="fas fa-sign-out-alt"></i> Ieși din cont
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main style="flex: 1; padding-top: 50px;">
        <div class="container">
            <form class="form-signin" method="post" style="margin-left: auto; margin-right: auto; width: 25%;" th:action="@{/perform_login}">
                <h2 class="form-signin-heading">Intră în cont</h2>
                <br/>
                <p th:if="${param.error}" class="text-danger">Userul sau parola nu sunt valide</p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                <br/>
                <p class="input-group">
                    <label for="password" class="sr-only">Parolă</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Parolă" required>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordField()">
                            <i id="toggleIcon" class="fas fa-eye"></i>
                        </button>
                    </span>
                </p>
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Intră în cont</button>
            </form>
        </div>
    </main>

    <footer style="padding-top: 25px;">
        <p>&copy; 2024 CartBlitz</p>
    </footer>

    <script>
        document.getElementById("searchForm").addEventListener("submit", function(event) {
            event.preventDefault();

            var searchQuery = document.getElementById("searchQuery").value;
            var searchUrl = "/product/search?search=" + encodeURIComponent(searchQuery);

            localStorage.setItem("searchQuery", searchUrl);

            window.location.href = searchUrl;
        });

        function togglePasswordField() {
            var passwordField = document.getElementById("password");
            var toggleIcon = document.getElementById("toggleIcon");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            }
        }
    </script>
</body>
</html>