<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina nu a fost găsită</title>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h1 class="panel-title">Pagina nu a fost găsită</h1>
                </div>
                <div class="panel-body">
                    <p>Pagina pe care o căutați s-ar putea să fi fost ștearsă, să îi fi fost schimbat numele sau să fie temporar indisponibilă.</p>
                    <p>Vă rugăm să încercați următoarele:</p>
                    <ul>
                        <li>Verificați URL-ul pentru eventuale erori și încercați din nou.</li>
                        <li>Întoarceți-vă la <a href="/">pagina de start</a>.</li>
                        <li>Folosiți funcția de căutare pentru a găsi conținutul căutat.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>