<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Detalii comandă</title>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>

    <style>
        main, footer {
            text-align: center;
        }

        header nav ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .navbar-nav li {
            display: inline;
        }

        .navbar-nav li.visible{
            padding-left: 10px;
        }

        .navbar-nav li.hidden {
            padding: 0;
            margin: 0;
            display: none;
        }

        .vertical-center {
            vertical-align: middle;
        }
    </style>
</head>

<body style="margin: 0; display: flex; flex-direction: column; min-height: 100vh;">
<header style="padding-top: 25px;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 5px;">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a class="nav-link" th:href="@{'/'}">
                        <i class="fas fa-home mx-1"></i> Acasă
                    </a>

                    <form class="form-inline" style="margin-left: 15px" id="searchForm">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="search" placeholder="Caută produse" aria-label="Caută" id="searchQuery">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav">
                        <li class="visible">
                            <a class="nav-link" th:href="@{/categories}">
                                <i class="fas fa-computer"></i> Categorii piese PC
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('hasRole(''USER'')')} ? 'visible' : 'hidden'">
                            <a class="nav-link" th:href="@{/cart}" sec:authorize="hasRole('USER')">
                                <i class="fas fa-shopping-cart"></i> Coș
                            </a>
                        </li>
                        <li th:unless="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'hidden' : 'visible'">
                            <a class="nav-link btn-primary" th:href="@{/login}">
                                <i class="fas fa-sign-in-alt"></i> Intră în cont
                            </a>
                        </li>
                        <li th:unless="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'hidden' : 'visible'">
                            <a class="nav-link btn-primary" th:href="@{/register}">
                                <i class="fas fa-user-plus"></i> Înregistrează-te
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('hasRole(''USER'')')} ? 'visible' : 'hidden'">
                            <a class="nav-link btn-primary" th:href="@{/profile}" sec:authorize="hasRole('USER')">
                                <i class="fas fa-user"></i> Profil
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('hasRole(''ADMIN'')')} ? 'visible' : 'hidden'">
                            <a class="nav-link btn-primary" th:href="@{/addProduct}" sec:authorize="hasRole('ADMIN')">
                                <i class="fas fa-plus"></i> Adaugă produs
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'visible' : 'hidden'">
                            <form id="logout-form" th:action="@{/logout}" sec:authorize="hasAnyRole('USER', 'ADMIN')" method="post">
                                <button type="submit" class="nav-link btn-primary">
                                    <i class="fas fa-sign-out-alt"></i> Ieși din cont
                                </button>
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</header>

<main style="flex: 1; padding-top: 50px;">
    <div class="container">
        <h2 class="mt-5">Detalii comandă</h2>

        <br/>
        <br/>

        <table class="table table-striped" style="background-color: transparent;">
            <thead>
            <tr>
                <th>Nume produs</th>
                <th>Cantitate</th>
                <th>Preț</th>
                <th>Cost total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderProduct : ${order.orderProducts}">
                <td class="vertical-center">
                    <img th:src="@{'/images/products/' + ${orderProduct.product.category.toLowerCase()} + '/' + ${orderProduct.product.productId} + '_1.jpg'}" alt="Product Thumbnail" style="max-width: 50px; max-height: 50px; margin-right: 15px;"/>
                    <a th:href="@{'/product/id/' + ${orderProduct.product.productId}}" th:text="${orderProduct.product.name}" style="color: inherit;"></a>
                </td>
                <td class="vertical-center">
                    <span th:text="${orderProduct.quantity}"></span>
                </td>
                <td class="vertical-center" th:text="${orderProduct.product.price}"></td>
                <td class="vertical-center" th:text="${orderProduct.price}"></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <h5><strong>Comandă plasată la: </strong><span th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm')}"></span></h5>
        <br/>
        <br/>
        <div class="text-right">
            <h4><strong>Total comandă: </strong><span th:text="${order.totalAmount} + ' lei'"></span></h4>
        </div>
    </div>
</main>

<footer style="padding-top: 25px;">
    <p>&copy; 2024 CartBlitz</p>
</footer>

<script>
    document.getElementById("searchForm").addEventListener("submit", function(event) {
        event.preventDefault();

        var searchQuery = document.getElementById("searchQuery").value;
        var searchUrl = "/product/search?search=" + encodeURIComponent(searchQuery);

        localStorage.setItem("searchQuery", searchUrl);

        window.location.href = searchUrl;
    });
</script>

</body>
</html>