<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>

    <style>
        main, footer {
            text-align: center;
        }

        header nav ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .navbar-nav li {
            display: inline;
        }

        .navbar-nav li.visible{
            padding-left: 10px;
        }

        .navbar-nav li.hidden {
            padding: 0;
            margin: 0;
            display: none;
        }

    </style>
</head>

<body>

    <header style="padding-top: 25px;">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 5px;">
                <div class="container-fluid">
                    <a class="nav-link active" th:href="@{'/'}">
                        <i class="fas fa-home mx-1"></i> Acasă
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav">
                            <li class="visible">
                                <a class="nav-link" th:href="@{/categories}">
                                    <i class="fas fa-computer"></i> Categorii piese PC
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('hasRole(''USER'')')} ? 'visible' : 'hidden'">
                                <a class="nav-link" th:href="@{/cart}" sec:authorize="hasRole('USER')">
                                    <i class="fas fa-shopping-cart"></i> Coș
                                </a>
                            </li>
                            <li th:unless="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'hidden' : 'visible'">
                                <a class="nav-link btn-primary" th:href="@{/login}">
                                    <i class="fas fa-sign-in-alt"></i> Intră în cont
                                </a>
                            </li>
                            <li th:unless="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'hidden' : 'visible'">
                                <a class="nav-link btn-primary" th:href="@{/register}">
                                    <i class="fas fa-user-plus"></i> Înregistrează-te
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('hasRole(''USER'')')} ? 'visible' : 'hidden'">
                                <a class="nav-link btn-primary" th:href="@{/profile}" sec:authorize="hasRole('USER')">
                                    <i class="fas fa-user"></i> Profil
                                </a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${#authorization.expression('isAuthenticated()')} ? 'visible' : 'hidden'">
                                <form id="logout-form" th:action="@{/logout}" sec:authorize="hasAnyRole('USER', 'ADMIN')" method="post">
                                    <button type="submit" class="nav-link btn-primary">
                                        <i class="fas fa-sign-out-alt"></i> Ieși din cont
                                    </button>
                                </form>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main style="flex: 1; padding-top: 50px;">
        <h2>Pagină de profil</h2>
        <br/>
        <div th:object="${customer}">
            <h4><strong>Username: </strong><span th:text="*{username}"></span></h4>
            <h4><strong>Email: </strong><span th:text="*{email}"></span></h4>
            <h4><strong>Nume complet: </strong><span th:text="*{fullName}"></span></h4>
            <br/>
            <h3>Listă de comenzi</h3>
            <br/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">Data comenzii</th>
                    <th class="text-center">Valoarea totală</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${completedOrders}">
                    <td class="text-center" th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm')}"></td>
                    <td class="text-center" th:text="${order.totalAmount} + ' lei'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script>
        document.getElementById("searchForm").addEventListener("submit", function(event) {
            event.preventDefault();

            var searchQuery = document.getElementById("searchQuery").value;
            var searchUrl = "/product/search?search=" + encodeURIComponent(searchQuery);

            localStorage.setItem("searchQuery", searchUrl);

            window.location.href = searchUrl;
        });
    </script>
</body>
</html>